---
layout: _base
---

{{ content }}

<input type="checkbox" id="reverse" name="reverse" '/>
<label for="reverse">Reverse Trip</label>

{% for r in routeData %}
<div class="scrollable">
  <section>
    <div class="routes">
      <div class="routes__header">
        <div class="routes__column__label routes__row__label route-name">{{ r.name }}</div>
          {% for dayTitle in r.stops[0].data.daily %}
          <div class="routes__column__label">{{ dayTitle.dt | day }}</div>
        {% endfor %}
      </div>
      {% for s in r.stops %}
        {% include "_route-row" %}
      {% endfor %}
    </div>
    </section>
  </div>
{% endfor %}
